.App {
  text-align: center;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  /* font-size: 62.5%; */
  height: 100vh;
}

body {
  font-family: "Merriweather", serif;
  background: url("./images/cream_dust.png") repeat 0 0;
}

:root {
  /* Colours */
  --box-light: rgb(239, 240, 242);
  --box-dark: rgb(224, 225, 228);
  --box-hover: rgb(221, 223, 227);
  --clr-accent: rgb(244, 199, 22);
  --clr-light: #fff;
  --clr-dark: rgb(33, 36, 48);

  /* Box styling */
  --box-radius: 0.5em;
  --box-shadow: rgba(171, 171, 171, 0.16) 0px 1px 4px,
    rgb(150, 150, 150) 0px 0px 0px 2px;
}

/* Header */
.site__header-bar {
  padding: 0.5em;
  background-color: var(--clr-dark);
}

.site__header {
  padding: 4em;
  background-image: url("./images/ncbg.jpg");
  background-color: var(--clr-accent);
  background-blend-mode: multiply;
}

h1 {
  font-family: "Fira Sans", sans-serif;
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  color: white;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

/* Navigation */
.nav__bar {
  background-color: var(--clr-dark);
  display: flex;
  justify-content: space-around;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  box-shadow: 0px 5px 0px #a9a9a9;
  margin-bottom: 1.5em;
}
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  font-family: "Fira Sans", sans-serif;
  display: inline-block;
  padding: 0.3em;
  text-decoration: none;
  color: var(--clr-light);
  font-size: 1.25em;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 1em;
  padding: 0.5em;
}

nav ul li:hover {
  color: rgb(210, 70, 70);
}

@media screen and (min-width: 1000px) {
  html {
    background-color: rgba(24, 24, 24, 0.653);
    background-image: url("./images/ncbg.jpg");
    background-blend-mode: multiply;
  }
  body {
    min-height: 100vh;
    max-width: 1000px;
    margin: 0 auto;
    box-shadow: 2.5em 0 1em -1.5em rgba(0, 0, 0, 0.4),
      -2.5em 0 1em -1.5em rgba(0, 0, 0, 0.4);
  }
}

/* Reviews */
.reviews__container,
.single_review__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.reviews__item {
  list-style: none;
  border-radius: var(--box-radius);
  border: 1px solid var(--box-dark);
  padding: 2em;
  margin: 1em;
  background-color: var(--box-light);
  width: 450px;
  font-size: 0.9rem;
}
.reviews__item:hover {
  background-color: var(--box-hover);
  box-shadow: var(--box-shadow);
}

.reviews__image,
.single_review__image {
  width: 300px;
}

.reviews__container li p {
  padding: 0.25em;
  margin: 0 2em;
  text-align: left;
}

.single_review__item {
  list-style: none;
  border-radius: var(--box-radius);
  border: 1px solid var(--box-dark);
  padding: 2em;
  margin: 1em;
  background-color: var(--box-light);
  width: 90%;
  font-size: 0.9rem;
}

.reviews__button,
.users__button {
  padding: 1em;
}

.single_review__container li p {
  padding: 0.25em;
  margin: 0 2em;
  text-align: left;
}

/* Categories */
.category__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.category__item {
  list-style: none;
  border-radius: var(--box-radius);
  border: 1px solid var(--box-dark);
  padding: 1em;
  margin: 1em;
  background-color: var(--box-light);
  width: 450px;
  font-size: 0.9rem;
}
.category__item:hover {
  background-color: var(--box-hover);
  box-shadow: var(--box-shadow);
}

.category__container li p {
  padding: 0.25em;
  margin: 0 2em;
  text-align: center;
}

/* Users */
.users__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.user__item {
  list-style: none;
  border-radius: var(--box-radius);
  border: 1px solid var(--box-dark);
  padding: 1em;
  margin: 1em;
  background-color: var(--box-light);
  width: 450px;
  font-size: 0.9rem;
}

.user__item:hover {
  background-color: var(--box-hover);
  box-shadow: var(--box-shadow);
}

.user__image {
  width: 250px;
  margin-top: 1em;
}

.user__item > p {
  padding: 0.25em;
  text-align: center;
  margin: 0;
}

/* Comments */
.comments__container {
  background-color: var(--clr-light);
  border-radius: var(--box-radius);
  padding: 1em;
  margin: 1em;
}
