@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Raleway:wght@200;400;700&display=swap");

.App {
  text-align: center;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: var(--ff-primary);
}
:root {
  /* Fonts */
  --ff-primary: "Raleway", sans-serif;
  --ff-secondary: "Josefin Sans", sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;

  /* Colours */
  --box-light: rgb(239, 240, 242);
  --box-dark: rgb(224, 225, 228);
  --box-hover: rgb(243, 244, 247);
  --clr-accent: rgb(244, 199, 22);
  --clr-light: #fff;
  --clr-dark: rgb(33, 33, 33);

  /* Box styling */
  --box-radius: 0.5em;
  --box-shadow: rgba(171, 171, 171, 0.16) 0px 1px 4px,
    rgb(150, 150, 150) 0px 0px 0px 2px;
}

body {
  background: url("./images/cream_dust.png") repeat 0 0;
  margin: 0 auto !important;
  padding-bottom: 2em;
}

h3 {
  font-family: var(--ff-primary) !important;
}

#page__divider {
  /* font-size: 1.3rem; */
  /* padding-top: 1.5em; */
  color: rgb(150, 150, 150);
}

/* Header */
.site__header-bar {
  padding: 0.5em;
  background-color: var(--clr-dark);
}

.site__header-container {
  background: url("./images/cream_dust.png") repeat 0 0;
}

.header__logo {
  background-color: rgba(255, 255, 255, 0);
  padding: 2.5em 0;
  max-width: 80%;
  height: auto;
}
/* Navigation */
.nav__bar {
  background-color: var(--clr-dark);
  display: flex;
  justify-content: space-around;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.nav__footer {
  padding: 0.2em;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  font-size: 1.2em;
  display: inline-block;
  padding: 0.3em;
  text-decoration: none;
  color: var(--clr-light);
  text-transform: uppercase;
  /* margin: 0 1em; */
  padding: 0.5em;
}

nav ul li:hover {
  color: var(--clr-accent);
}
/*  */
.nav__item-text {
  position: relative;
}

/*  */

@media screen and (min-width: 1200px) {
  html {
    background-color: rgba(24, 24, 24, 0.906);
    background-image: url("./images/ncbg.jpg");
    background-blend-mode: multiply;
  }
  body {
    min-height: 100vh;
    max-width: 1200px;
    box-shadow: 2.5em 0 1em -1.5em rgba(0, 0, 0, 0.4),
      -2.5em 0 1em -1.5em rgba(0, 0, 0, 0.4);
  }
}

@media screen and (min-width: 800px) {
  .site__header-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1;
    /* border-bottom: 1px solid var(--clr-dark); */
  }
  .header__logo {
    grid-column: 1;
    justify-self: start;
    align-self: center;
    max-width: 100%;
    margin-left: 2.5em;
    margin-top: 2em;
  }
  .nav__bar {
    grid-column: 2;
    background-color: rgba(0, 0, 0, 0);
    justify-self: end;
    align-self: center;
    margin-right: 2em;
  }
  .nav__bar ul li {
    color: var(--clr-dark);
    font-weight: var(--fw-bold);
    font-size: 1.5em;
  }
  #page__divider {
    font-size: 1.6rem;
    padding: 0.5em;
    color: rgb(150, 150, 150);
  }
}

/* Reviews */
.section__body {
  background: url("./images/cream_dust.png") repeat 0 0;
}
.page__divider_div {
  background: url("./images/cream_dust.png") repeat 0 0;
  padding-top: 0.1em;
}

.reviews__container {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: stretch;
}
@media screen and (min-width: 800px) {
  .reviews__item {
    display: grid;
    grid-template-areas:
      "upvote img title category"
      "vote img title id"
      "downvote img owner comment";
    grid-gap: 0em;
    grid-template-columns: 1fr 1.5fr 5fr 1.5fr;
    grid-template-rows: 1fr 1fr 1fr;
    list-style: none;
    border: 1px solid var(--box-dark);
    margin: 1em;
    background-color: var(--box-light);
    width: 90%;
    height: 210px;
    font-size: 1.15em;
  }
  .reviews__image {
    grid-area: img;
    width: 200px;
    height: 200px;
    object-fit: cover;
    justify-self: center;
    align-self: center;
    padding: 0.5em;
  }

  /* Reviews cards */
  .reviews__title {
    grid-area: title;
    font-size: 1.3em;
    align-self: center;
    justify-self: center;
    /* padding: 0.5em; */
  }
}
.reviews__details {
  grid-area: owner;
  align-self: start;
}
.reviews__owner {
  font-weight: 700;
}
.reviews__created {
  color: rgb(150, 150, 150);
}
.reviews__category {
  grid-area: category;
  text-transform: capitalize;
  justify-self: end;
  align-self: center;
  font-weight: 700;
}
.reviews__comment {
  grid-area: comment;
  justify-self: end;
  align-self: center;
}
.reviews__id {
  grid-area: id;
  justify-self: end;
  align-self: center;
}
.reviews__upvote {
  grid-area: upvote;
  justify-self: center;
  align-self: flex-end;
}
.reviews__downvote {
  grid-area: downvote;
  justify-self: center;
  align-self: start;
}
.reviews__votes {
  grid-area: vote;
  justify-self: center;
  align-self: center;
  font-size: 0.9em;
}
.reviews__container li p {
  padding: 0.25em;
  margin: 0 2em;
}

@media screen and (max-width: 800px) {
  .reviews__item {
    display: grid;
    grid-template-areas:
      "upvote category id"
      "vote title title"
      "downvote  owner comment";
    grid-gap: 0;
    grid-template-columns: 1fr 5fr 1.5fr;
    grid-template-rows: 1fr 1fr 1fr;
    list-style: none;
    border: 1px solid var(--box-dark);
    margin: 1em;
    background-color: var(--box-light);
    width: 90%;
  }
  .reviews__image {
    display: none;
  }
  .reviews__title {
    grid-area: title;
    font-size: 1.15em;
    align-self: start;
    justify-self: center;
    word-wrap: break-word;

    max-width: 100%;
    padding-right: 1.25em;
  }
  .reviews__category {
    justify-self: center;
    align-self: center;
  }
}

/* Single Review */
.single_review__container {
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.single_review__item {
  /* border-radius: var(--box-radius); */
  border: 1px solid var(--box-dark);
  padding: 2em;
  margin: 1em;
  background-color: var(--box-light);
  width: 90%;
}

.single_review__image {
  max-width: 90%;
  height: auto;
  object-fit: cover;
}

.reviews__button,
.users__button {
  padding: 1em;
}

.single_review__container p {
  padding: 0.25em;
  margin: 0 2em;
  text-align: left;
}

.reviews__pagination {
  padding-top: 1em;
  padding-bottom: 3em;
}
/* Categories */
.category__container {
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.category__item {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: var(--box-radius);
  border: 1px solid var(--box-dark);
  padding: 1em;
  margin: 1em;
  background-color: var(--box-light);
  width: 400px;
  height: 200px;
  font-size: 0.9rem;
}
.category__item:hover {
  background-color: var(--box-hover);
  box-shadow: var(--box-shadow);
}

.category__item-title {
  text-transform: capitalize;
}
.category__container li p {
  padding: 0.25em;
  margin: 0 2em;
  text-align: center;
}

/* Users */
.users__container {
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.user__item {
  list-style: none;
  border-radius: var(--box-radius);
  border: 1px solid var(--box-dark);
  padding: 1em;
  margin: 1em;
  background-color: var(--box-light);
  width: 400px;
  height: 400px;
  font-size: 0.9rem;
}

.user__item:hover {
  background-color: var(--box-hover);
  box-shadow: var(--box-shadow);
}

.user__image {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.user__item > p {
  padding: 0.25em;
  text-align: center;
  margin: 0;
}

/* Comments */
.comments__container {
  background-color: var(--clr-light);
  border-radius: var(--box-radius);
  padding: 1em;
  margin: 2em 1em;
  border: 1px solid red;
}

.comments__avatar {
  border: 1px solid blue;
}
